{% extends "base.html.twig" %}

{% block title %}Accueil -
{{ parent() }}
{% endblock %}

{% block body %}
<!-- NAVIGATION BAR -->
<nav class="row navbar navbar-expand-lg navbar-dark bg-success shadow">
	<div class="container-fluid">
		<!-- Logo -->
		<img class="nav_logo img-fluid" src="/images/LogoGigi.png" alt="Memoji de Gigi">
		<!-- Navbar button at lg breakpoint -->
		<button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Collapse area at lg breakpoint -->
		<div class="collapse navbar-collapse mx-4" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('home.index') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('recipe.show.appetizer') }}">Apéritifs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('recipe.show.dish') }}">Plats</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('recipe.show.dessert') }}">Desserts</a>
				</li>

				{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('ingredient.index') }}">Mes ingrédients
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('recipe.index') }}">Mes recettes
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ app.user.fullName }}
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('user.edit.password', {id : app.user.id}) }}">Modifier mon mot de passe</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('security.logout') }}">Déconnexion</a>
						</li>
					</ul>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('security.login') }}">Connexion</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

<!-- HEADER-->
<header class="row">
	<section class="col-12">
		<h1>
			<strong>Les Recettes Faciles de Gigi</strong>
		</h1>
	</section>
</header>

<!-- MAIN -->
<main class="main_home row g-3">
	<!-- Introduction -->
	<section class="col-11 col-lg-6">
		<h2>
			<strong>Bienvenue chez Gigi</strong>
		</h2>
		<p>
			Ce site est dédié à toutes les personnes aimant la
			<em>cuisine</em>
			et partager un moment convivial autour de la
			<em>table</em>.
		</p>
		<p>
			Qui ne s'est jamais posé la question... Que mange-t-on aujourd'hui ? Petit clin d'oeil aux
			<em>femmes</em>
			qui se la posent très souvent lorsque qu'après une journée bien remplie, il faut se mettre derrière les
			<em>fourneaux</em>...
		</p>
		<p>
			Au
			<em>menu</em>
			vous trouverez quelques recettes faciles à réaliser, classées selon les catégories
			<a href="{{ path('recipe.show.appetizer') }}" class="text-success">
				<strong>apéritifs</strong>
			</a>,
			<a href="{{ path('recipe.show.dish') }}" class="text-success">
				<strong>plats</strong>
			</a>
			et
			<a href="{{ path('recipe.show.dessert') }}" class="text-success">
				<strong>desserts</strong>
			</a>.
		</p>
	</section>
	<!-- Animation video -->
	<div class="col-11 col-lg-3">
		<video class="card-img-top shadow" muted autoplay playsinline loop>
			<source src="/videos/cook.mp4" type="video/mp4">
			<source src="/videos/cook.mov" type="video/mov">
			<source src="/videos/cook.WebM" type="video/WebM">
			<source src="/videos/cook.ogv" type="video/ogv">
			La vidéo ne peut être lu avec votre navigateur.
		</video>
	</div>
	<!-- Menu -->
	<section class="menu col-7 col-lg-9">
		<h2>
			<strong>Le Menu</strong>
		</h2>
		<div class="menu_card row g-4">
			<!-- appetizer card -->
			<div class="col-11 col-lg-3">
				<div class="clickable">
					<a href="{{ path('recipe.show.appetizer') }}">
						<h3 class="img-title">
							<em>Les apéritifs</em>
						</h3>
						<img class="clickable_img img-fluid" src="/images/appetizer.jpg" alt="toats de saumon à la crème">
					</a>
				</div>
			</div>
			<!-- dish card -->
			<div class="col-11 col-lg-3">
				<div class="clickable">
					<a href="{{ path('recipe.show.dish') }}">
						<h3 class="img-title">
							<em>Les plats</em>
						</h3>
						<img class="clickable_img img-fluid" src="/images/dish.jpg" alt="tranches de viandes">
					</a>
				</div>
			</div>
			<!-- dessert card -->
			<div class="col-11 col-lg-3">
				<div class="clickable">
					<a href="{{ path('recipe.show.dessert') }}">
						<h3 class="img-title">
							<em>Les desserts</em>
						</h3>
						<img class="clickable_img img-fluid" src="/images/dessert.jpg" alt="Bûche chocolat dans une assiette">
					</a>
				</div>
			</div>

		</div>
	</section>
</main>
{% endblock %}