{% extends 'base.html.twig' %}

{% block title %}Mes recettes -
{{ parent() }}
{% endblock %}

{% block body %}
<!-- HEADER -->
<header class="row">
	<section class="col-12">
		<h1>
			<strong>Mes Recettes</strong>
		</h1>
	</section>
</header>
<!-- MAIN -->
<section class="recipes row">
	{% if not recipes.items is same as([]) %}
	<!-- If recipes list is not empty -->
	<div class="col-11 col-lg-9">
		<div class="addSearch row row-cols-1 row-cols-lg-2 g-4">
			<!-- NUMBERS  & CREATE BUTTON -->
			<div class="col-12 col-lg-3">
				<!-- NUMBERS INGREDIENTS -->
				<div>
					<p>il y a
						{{ recipes.getTotalItemCount }}
						recette(s) au total
					</p>
				</div>
				<!-- CREATE BUTTON -->
				<div class="col-12 col-lg-4">
					<a href="{{ path('recipe.new') }}" class="button validate shadow">+</a>
				</div>
			</div>
			<!-- SEARCH BAR -->
			<div class="col-12 col-lg-4">
				<form>
					{{ form_widget(searchRecipe.q, {attr: {class:'form-control me-2'}}) }}
					<button class="validate" type="submit">Valider</button>
				</form>
			</div>
		</div>

		{% for message in app.flashes('success') %}
		<div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
		<!-- Recipess list -->
		<div class="table-responsive mt-4">
			<table class="table align-middle table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="text-center" scope="col">Nom</th>
						<th class="text-center" scope="col">Catégorie</th>
						<th class="text-center" scope="col">Date de création</th>
						<th class="text-center" scope="col">Édition</th>
						<th class="text-center" scope="col">Suppression</th>
					</tr>
				</thead>
				<tbody>
					{% for recipe in recipes %}
					<tr>
						<td class="text-center">{{ recipe.name|title }}</td>
						<td class="text-center">{{ recipe.category|title }}</td>
						<td class="text-center">{{ recipe.createdAt|date('d/m/Y') }}</td>
						<td class="text-center">
							<a href="{{ path('recipe.edit', {id: recipe.id}) }}" class="button update shadow">Modifier</a>
						</td>
						<td class="text-center">
							<a href="{{ path('recipe.delete', {id: recipe.id}) }}" class="button delete shadow">Supprimer</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- Pagination list -->
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(recipes) }}
		</div>
	</div>
	{% else %}
	<!-- If recipes list is empty -->
	<div class="col-11 col-lg-9">
		<div class="addSearch row row-cols-1 row-cols-lg-2 g-4">
			<div class="col-12 col-lg-3">
				<!-- NUMBERS INGREDIENTS -->
				<p>il y a
					{{ ingredients.getTotalItemCount }}
					ingrédient(s) au total
				</p>
				<!-- CREATE BUTTON -->
				<a href="{{ path('recipe.new') }}" class="button validate shadow">+</a>
			</div>
			<div class="col-12 col-lg-4">
				<form>
					{{ form_widget(searchRecipe.q, {attr: {class:'form-control me-2'}}) }}
					<button class="validate" type="submit">Valider</button>
				</form>
			</div>
		</div>

		{% for message in app.flashes('success') %}
		<div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</section>
{% endblock %}