{% extends "base.html.twig" %}

{% block title %}Apéritifs -
{{ parent() }}
{% endblock %}

{% block body %}
<!-- HEADER -->
<header class="row" data-aos="fade-down">
	<section class="col-12">
		<h1><strong>Apéritifs</strong></h1>
	</section>
</header>
<!-- MAIN -->
<section class="categories row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
	{% for recipe in recipes %}
	<div class="col-11">
		<div class="card shadow">
			<img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" class="img-fluid" alt="Image d'une recette">
			<h2>{{ recipe.name|title }}</h2>
			<div class="card-body">
				<h3><em>Ingrédients</em></h3>
				<ul>
					{% for ingredient in recipe.ingredients %}
					<li>{{ ingredient.name }}</li>
					{% endfor %}
				</ul>
				<h3><em>Préparation</em></h3>
				<p class="card-text">{{ recipe.description }}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</section>
{% endblock %}